[submodule "themes/hugo-lithium"]
	path = themes/hugo-lithium
	url = git@github.com:yihui/hugo-lithium.git
[submodule "themes/hyde"]
	path = themes/hyde-fork
	url = git@github.com:gadenbuie/hyde.git
[submodule "themes/er"]
	path = themes/er
	url = git@github.com:lingxz/er.git
[submodule "themes/tailwind-journal"]
	path = themes/tailwind-journal
	url = git@github.com:ianrodrigues/hugo-tailwind-journal.git
[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:athul/archie.git
