[submodule "themes/hugo-lithium"]
	path = themes/hugo-lithium
	url = https://github.com/yihui/hugo-lithium.git
[submodule "themes/hyde"]
	path = themes/hyde-fork
	url = https://github.com/gadenbuie/hyde.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
