[submodule "themes/hugo-lithium"]
	path = themes/hugo-lithium
	url = git@github.com:yihui/hugo-lithium.git
[submodule "themes/hyde"]
	path = themes/hyde-fork
	url = git@github.com:gadenbuie/hyde.git
[submodule "themes/er"]
	path = themes/er
	url = git@github.com:lingxz/er.git
