p, li {
  font-family: "Merriweather";
  line-height: 1.333rem;
}

p + p {
  margin-top: 1rem;
}

a {
  font-weight: 500;
}

.caption {
  font-style: italic;
  color: #666;
  background-color: #f9e3f9;
  padding: 2px;
  border: 1px solid #666;
}

img {
  margin-bottom: 0;
}

div.highlight,
pre {
  margin-bottom: 0;
}